<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Auction Item</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/ikun.ico">
</head>
<body>
    <h1>Add Auction Item</h1>
    <form method="POST" action="/additem" enctype="multipart/form-data">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" required></textarea><br><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image" required><br><br>
        <label for="end_time">End Time:</label><br>
        <input type="datetime-local" id="end_time" name="end_time" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
