


<head>
    <meta charset="UTF-8">
    <title>ikun discussion</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/ikun.ico">
</head>

<body>
<div class="title">
    <h1>IKUN discussion</h1>
</div>
<div class="image_div">
    <img src="/static/basketball.jpg" alt="It's an ikun" class="my_image"/>
</div>
<div id="somejavasripteffect">
    <p>This text is added by javasrcipt 😅 ,thank you</p>
    <!--黄豆流汗是我最后的倔强 --自来也-->
</div>
<div class="function">
    <h1>Ji Ni Tai Mei</h1>
    <script src="/static/functions.js"></script>
</div>
</body>

</html>